
input[type="text"]{
   text-align:center;
}

input[type="radio"] {
    float: left;
    margin-left: 400px
}

div#radiotext {
    text-align:left;
}

td {
    text-align:left;
    left-padding: 20px;
}

